
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=PT+Serif:ital,wght@0,400;1,700&display=swap');


.lover-boy{
    width: 20%;

}

body{
    background-image: url('1dreiv6f.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.first{
    width: 20%;
}

button {
    font-family: 'PT serif', serif;
    

}

.custom-margin{
   margin-right: 50px; 
}

h1{
    font-family: 'PT serif', serif;
    font-weight: 900;
    color: red;
    font-size: 4em;
}

.button-container{
    width: 20%;
}

img {
    border-color: pink;
}





